<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new User</title>
</head>
<body>
    <form action ="/save" method="GET">
        Story Title <br>
        <input type="text" name="title" minlength="5" required><br>
        <br>
        User Story <br>
        <input type="text" required name="story" ><br>
        <br>
        Acceptance Criteria <br>
        <input type="text" required name="criteria" ><br>
        <br>
        Business Value <br>
        <input name="value" type="number" min="100" max="1500" step="100"/><br>
        <br>
        Estimation (h) <br>
        <input name="estim" type="number" min="0.5" max="40" step="0.5"/><br>
        <br>
        Status<br>
        <select name ="statu">
            <option>Planning</option>
            <option>To do</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select><br>
        <br>
        <br>
        <button type="submit" > Add new User Story!</button>
    
    </form>
</body>
</html>