<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome! Super Sprinter 3000 </title>
</head>
<body>
    <table>
        <tr>
        <th>ID</th>
        <th>Story title</th>
        <th>User story</th>
        <th>Acceptance criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>
        <th>Action</th>
        {% for data in tbl %}
                <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                <td>{{data[5]}}</td>
                <td>{{data[6]}}</td>
        {% endfor %}
        </tr>
<form action="/add_story" method="GET"> 
    <button type="submit">Add a story!</button>
    </form>
</table>
</body>
</html>